<div class="col-12 col-md-4 mb-4">
  <div class="card card-light mb-3 mb-md-0 shadow-sm episode-card">
    <div class="card-body match-height">
      <strong>Episode {{ episode.episode_number }}</strong>
      <div class="card-description">
        <h3 class="b4">
          <a href="{{ episode.url }}">{{ episode.title }}</a>
        </h3>
        <p>
          {{ episode.description | truncate: 110 }}
          {% if episode.description.size > 110 %}
            <a href="{{ episode.url }}">See More</a>
          {% endif %}
        </p>
      </div>
      <a href="#" data-toggle="modal" data-target="#playerModal" data-episode="{{ episode.episode_id }}" data-number="{{episode.episode_number}}" data-title="{{ episode.title }}" data-description="{{ episode.description }}" class="play-episode"><img src="/img/btn-play.svg" alt="">Play Episode</a>
    </div>
  </div>
</div>