<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?{{site.time | date: '%s%N'}}">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?{{site.time | date: '%s%N'}}">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?{{site.time | date: '%s%N'}}">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?{{site.time | date: '%s%N'}}" color="#8245aa">
  <meta name="msapplication-TileColor" content="#8245aa">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/css/styles.css?{{site.time | date: '%s%N'}}">
  <title>{{ site.title }} {{page.title}}</title>
</head>