<header class="site-header">
    <div class="site-header-content">
        <div class="site-name">
          <img src="/img/vmlogo.svg" alt="vmware" class="vmlogo">
          <a href="/">The Podlets</a>
        </div>
        <ul class="nav-menu" id="header-nav">
            <li class="home with-divider"><a href="/" title="{{ site.title }}">Home</a></li>
            <li class="episodes with-divider"><a href="/episodes" title="Blog Posts">Episodes</a></li>
            <li class="about"><a href="/about" title="Community">About</a></li>
            <li class="search">
              <div class="search-toolbar">
                <form id="" role="search" method="get" action="/search">
                  <div class="search-toolbar__search-input-wrapper">
                    <div class="search-toolbar__search-input">
                      <label for="s" class="sr-only">Search</label>
                      <input name="s" type="text" value="" autocomplete="off" placeholder="Search">
                    </div>
                    <button type="submit">Search</button>
                  </div>
                </form>
              </div>
            </li>
        </ul>
        <div class="nav-mobile-link">
            <a href="javascript:void(0);" id="nav-mobile-toggle"></a>
        </div>
    </div>
</header>