.DS_Store
.sass-cache
.jekyll
.jekyll-metadata
.bundle
.vscode
.vs

site/_episodes/000-template.md

*.log
*.js.map
*.css.map
.ruby-version

# Jekyll compiled data
site/_site
site/.sass-cache
site/.jekyll
site/.jekyll-metadata
site/.bundle
site/vendor
.ruby-version