<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="episode">
  <div class="container-fluid">
    <div class="site-container">
      {% include site-header.html %}
      <div class="default-container">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1 class="mb-15">{{ page.title }}</h1>
              <h5 class="mb-4">Episode: {{ page.episode_number }}</h5>
              <p class="b2">{{ page.description }}</p>
            </div>
          </div>
        </div>
        <div class="container py-5">
          <div class="row">
            <div class="col-md-6" id="episode-info">
              
              <!-- VIDEO -->
              {% if page.video %}
              <div class="row justify-content-center">
                <div class="col mb-15">
                  <h2>Video</h2>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col mb-5">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ page.video }}"></iframe>
                  </div>
                </div>
              </div>
              {% endif %}
              
              
              <!-- AUDIO -->
              {% if page.episode_id %}
              <div class="row justify-content-center">
                <div class="col mb-15">
                  <h2>Audio</h2>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col mb-2">
                  <iframe src="https://omny.fm/shows/{{ site.podcast }}/{{ page.episode_id }}/embed?style=artwork" width="100%" height="180" title="{{ page.title }}"></iframe>
                </div>
              </div>              
              {% endif %}
              
              <!-- EPISODE NOTES -->
              {% if page.notes %}
              <div class="row justify-content-center">
                <div class="col mb-15"><h2 class="h3">Episode Notes</h2></div>
              </div>
              <div class="row justify-content-center">
                <div class="col mb-2">
                  {{ page.notes | markdownify }}
                </div>
              </div>
              {% endif %}

              <!-- EPISODE HOSTS -->
              {% if page.hosts %}
              <div class="row justify-content-center">
                <div class="col mb-15"><h2 class="h3">Hosts</h2></div>
              </div>
              <div class="row justify-content-center">
                <div class="col mb-2">
                    <font size="3">
                      {% for host in page.hosts %}
                        <li><a href="{{ host.url }}" target="_blank">{{ host.name }}</a></li>
                      {% endfor %}
                    </font>
                </div>
              </div>
              {% endif %}

              <!-- EPISODE KEY POINTS -->
              {% if page.points %}
              <div class="row justify-content-center">
                <div class="col mb-15"><h2 class="h3">Key Points from This Episode</h2></div>
              </div>
              <div class="row justify-content-center">
                <div class="col mb-2">
                    <font size="3">
                      {% for point in page.points %}
                        <li>{{ point }}</a></li>
                      {% endfor %}
                    </font>
                </div>
              </div>
              {% endif %}

              <!-- EPISODE LINKS -->
              {% if page.links %}
              <div class="row justify-content-center">
                <div class="col mb-15"><h2 class="h3">Links Mentioned in Today’s Episode</h2></div>
              </div>
              <div class="row justify-content-center">
                <div class="col mb-2">
                    <font size="3">
                      {% for link in page.links %}
                        <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
                      {% endfor %}
                    </font>
                </div>
              </div>
              <ul>
  
              </ul>
              {% endif %}

              
              
              <!-- TRANSCRIPT -->
              <div class="row justify-content-center">
                <div class="col mb-15">
                  <h2 data-toggle="collapse" class="h3 color-dark-green collapsed" href="#transcriptPanel" role="button" aria-expanded="false" aria-controls="transcriptPanel">
                    Transcript
                    <i class="carat"><img src="/img/carat.svg" alt=""/></i>
                  </h2>
                </div>
              </div>
              <div class="row justify-content-center collapse" id="transcriptPanel">
                <div class="col mb-2">
                  {{ content | markdownify }}
                </div>
              </div>
            </div>
            <div class="col-md-4 offset-md-1">
              {% if page.related %}
              <h2>Related Episodes</h2>
              {% for related in page.related %}
                {% assign episode = site.episodes | where:"episode_id", related  | first %}
                {% include episode-card-sidebar.html %}
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        {% include podcast-links.html %}
        {% include modal.html %}
      </div>
      {% include footer.html %}
    </div>
  </div>
</body>

</html>