// File Paths
$path-fonts: "fonts";
$path-images: "img";

// Colors

$black: #000;
$white: #fff;
$light: $white;

// Bootstrap overrides
$base-font-size: 16px;
$body-bg: #f7fbfc;
$body-color: #3F3E3E;
$box-shadow-sm: 0px 1px 10px 0px rgba(0,0,0,0.1);
$border-color: #E8E8E8;

$card-border-width: 1px;
$card-border-color: $border-color;

$font-family-base: "Metropolis", Helvetica, Arial, sans-serif;
$font-size-base: 1.125rem; // 18px

$link-color: #0096D9;
$link-decoration: none;
$link-hover-color: $link-color;
$link-hover-decoration: underline;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Custom

$body-color-darker: #333;
$body-color-darkest: #111;

// Container

$container-background: $body-bg;
$container-max-width: 1440px;

// Header

$header-background: $white;
$header-foreground: #006990;
$header-foreground-selected: #006990;

// Footer
$footer-foreground: #E8E8E8;
$footer-link-color: #777777;
$footer-copyright: #777777;

// Sections

$section-content-max-width: 1200px;
$section-grey-background: #f2f2f2;

$section-blue-background: #0165AB;
$section-blue-foreground: $white;

// Cards

$card-dark-background: #0165AB;
$card-dark-foreground: $white;
$card-dark-link: $white;
$card-dark-link-hover: $white;

$card-light-background: $white;
$card-light-link: $link-color;

// bs overrides 
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: $section-content-max-width
);


// alternating cards
$brand-gray: #717074;
$light-blue: #00C1D5;
$med-blue: #0091DA;
$dark-blue: #1D428A;
$darkest-blue: #002538;
$midnight-blue: #28333C;
$green: #78BE20;
$dark-green: #2B4352;
$purple: #7F35B2;
$field-backgrounds: (
  'light-blue': $light-blue,
  'med-blue': $med-blue,
  'dark-blue': $dark-blue,
  'darkest-blue': $darkest-blue,
  'midnight-blue': $midnight-blue,
  'dark-green': $dark-green,
  'green': $green,
  'purple': $purple,
);

@each $name, $hex in $field-backgrounds {
  .section-background-#{$name} {
    background-color: #{$hex} !important;
    color: $white !important;
    h1,
    h2,
    p {
      color: $white !important;      
    }
  }
  .bg-color-#{$name} {
    background-color: #{$hex} !important;
  }
  .color-#{$name} {
    color: #{$hex} !important;
  }
}



// Buttons

$button-primary-background: #1D428A;
$button-primary-background-hover: $white;
$button-primary-foreground: $white;
$button-primary-border: $button-primary-background;
$button-primary-border-hover: #1D428A;

$button-secondary-background: #0091DA;
$button-secondary-background-hover: $white;
$button-secondary-foreground: $white;
$button-secondary-border: $white;
$button-secondary-border-hover: #0091DA;

// Posts
$post-hero-gradient-start: #fafafa;
$post-hero-gradient-end: #ddd;
$post-meta-foreground: $body-color-darker;

// section 
$section-padding-x: 30px;
$section-padding-y: 40px;
